# vs code
*.vsix

# Dependency directories
node_modules

# macos
.DS_Store

# Clojure
.cpcache/
.nrepl-port

# CLJS
.shadow-cljs/

# Calva
**/.calva/output-window/

# clj-kondo, clojure-lsp
.cache

# Portal
**/.portal/vs-code.edn

# Joyride
/out/
.portal
examples/.joyride/.calva
examples/.vscode
examples/.calva

.vscode-test/
playground/hello-joyride/.calva/output-window/output.calva-repl
