# Put everything on the blacklist by default
*
*/**
**/.*
*/**/.*

# Whitelist
!extension.js
!package.json
!assets/**
!README.md
!CHANGELOG.md
!LICENSE.txt
!joyride.js
!dist/out/js/joyride.js
!dist/package.json
