{:paths ["src"]
 :deps {funcool/promesa {:mvn/version "8.0.450"}
        thheller/shadow-cljs {:mvn/version "2.18.0"}
        org.babashka/sci
        #_{:local/root "../babashka/sci"}
        {:git/url "https://github.com/babashka/sci"
         :git/sha "d328a778a5f5a4bc1ed309d99d09fc53da3ebe29"}
        org.babashka/sci.configs
        #_{:local/root "../sci.configs"}
        {:git/url "https://github.com/babashka/sci.configs"
         :git/sha "5291969469cf72e786e68fbfeba17553cea67e0d"}}
 :aliases {:dev {}}}
