{:paths ["src"]
 :deps {funcool/promesa {:mvn/version "8.0.450"}
        thheller/shadow-cljs {:mvn/version "2.18.0"}
        org.babashka/sci
        #_{:local/root "../babashka/sci"}
        {:git/url "https://github.com/babashka/sci"
         :git/sha "07e21bdab3c1365f7b2a06377e1c56fa09e95a15"}
        org.babashka/sci-configs
        #_{:local/root "../sci.configs"}
        {:git/url "https://github.com/babashka/sci-configs"
         :git/sha "fcd367c6a6115c5c4e41f3a08ee5a8d5b3387a18"}}
 :aliases {:dev {}}}
