{:paths ["src"]
 :deps {funcool/promesa {:mvn/version "9.0.471"}
        thheller/shadow-cljs {:mvn/version "2.20.5"}
        org.babashka/sci
        #_{:local/root "../babashka/sci"}
        {:git/url "https://github.com/babashka/sci"
         :git/sha "b4c51fd5a0cedf19f1804c9bef1301ffb4e73bf0"}
        org.babashka/sci.configs
        #_{:local/root "../sci.configs"}
        {:git/url "https://github.com/babashka/sci.configs"
         :git/sha "9f31be441a61fe46f518a7c121a755710998a9fe"}}
 :aliases {:dev {}}}
