{:deps true
 :builds
 {:extension {:target :esm
              :js-options {:js-provider :import
                           :keep-native-requires true
                           :keep-as-import #{"vscode"}}
              :compiler-options {:infer-externs :auto}
              :output-dir "dist/out/js"
              ;; :output-to "out/joyride.js"
              :modules {:joyride {:entries [joyride.extension]
                                  :exports {:activate joyride.extension/activate}}}
              ;; :exports {:activate joyride.extension/activate}
              :devtools {:before-load-async joyride.extension/before
                         :after-load joyride.extension/after}
              :build-hooks [(build/esbuild-pass)]}}}
