{:deps true
 :builds
 {:extension {:target :node-library
              :js-options {:js-provider :shadow
                           :keep-native-requires true
                           :keep-as-require #{"vscode"}}
              :compiler-options {:infer-externs :auto}
              :output-dir "out/js"
              :output-to "out/joyride.js"
              :exports {:activate joyride.extension/activate}
              :devtools {:before-load-async joyride.extension/before
                         :after-load joyride.extension/after}}}}
