{:linters {:replicant/alias {:level :warning}}
 :hooks {:analyze-call {replicant.alias/defalias replicant.defalias/defalias
                        replicant.alias/aliasfn replicant.defalias/aliasfn}}}
